<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(links)">
  <meta charset="UTF-8">
  <title>薪资数据分析平台</title>

  <link th:href="@{/bootstrap-3.4.1/css/bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/bootstrap-3.4.1/css/bootstrap-theme.css}" rel="stylesheet" />
  <script th:src="@{/bootstrap-3.4.1/js/bootstrap.js}"></script>
  <th:block th:replace="${links}"></th:block>

</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12" th:fragment="header">
      <h2>
        <span>薪资数据分析平台</span>
      </h2><hr />
      <p style="text-align: right;">
        信息管理员
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-2" th:fragment="navbar">
      <ul class="nav nav-list">
        <li class="nav-header">
        </li>
        <li>
          基础信息配置
        </li>
        <li class="nav-header">
          <a th:href="@{/industry/list}" style="color:#505050;">
            行业信息配置</a>
        </li>

      </ul>
    </div>
    <div class="col-md-10" th:replace="${content}">

    </div>
  </div>
</div>
</body>
</html>