<html xmlns: xmlns:th="http://www.w3.org/1999/xhtml" th="http://www.thymeleaf.org">

<head th:replace="layout_hr::head(~{::link})">
    <link th:href="@{/css/salary.css}" rel="stylesheet" />
</head>
<script th:src="@{/js/salary.js}"></script>

<body>
<div th:replace="layout_hr::header"></div>
<div th:replace="layout_hr::navbar"></div>

<div th:fragment="content" class="col-md-10">
    <h3>新增薪资信息</h3>
    <form th:action="@{/salary/createAction}" method="post">
        <div class="form-group">
            <label>工作年限:</label>
            <input type="text"
                   name="workingAge"
                   step = "any"
                   min = "-999999999"
                   max = "999999999"
                   oninput="validateFloatAndNull(this)"
                   placeholder="请输入工作年限"
                   required
                   class="search-input"
            />
        </div>
        <div class="form-group">
            <label>薪资金额:</label>
            <input type="text"
                   name="salaryAmount"
                   step = "any"
                   min = "-999999999"
                   max = "999999999"
                   oninput="validateFloatAndNull(this)"
                   placeholder="请输入薪资金额"
                   required
                   class="search-input"
            />
        </div>
        <div class="form-group">
            <label>所在行业 :</label>
            <select name="industryId">
                <option th:each="industry : ${industryList}"
                        th:value="${industry.id}"
                        th:text="${industry.name}">

                </option>
            </select>
        </div>
        <div class="operation-buttons-group">
            <button type="submit" class="bth-save">保存</button>
            <button type="button" class="bth-return"
                    onclick="window.history.back()">返回</button>

        </div>
    </form>
</div>
</body>
</html>